@use "../../../presets" as *;
@use "../../../mixins" as *;


.brands {
    background-color: $color-accent-light;
    color: $color-black;
    padding: 105px 0;
    margin-bottom: 90px;

    &__title {
        font-weight: 600;
        line-height: 1.2;
        text-align: center;
        color: $color-black;
        margin: 0 auto 70px;
        max-width: $container-small;

        @include xl-min {
            font-size: 50px;    
        }
        @include xl {
            font-size: 35px;    
        }
    }

    &__list {
        gap: $gap;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include lg {
            flex-wrap: wrap;
            justify-content: center;
        }

    }
}