@use "../../presets" as *;
@use "../../mixins" as *;


.contacts-box-big {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @include xl-md {
        gap: 15px;
    }
    @include md  {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }

    &__title-box {
        min-width: 187px;

        @include xl {
            min-width: 150px;
        }

    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.25;
        margin: 0 0;
        padding-bottom: 21px;
    }

    &__list {
        padding: 0;
    }

    &__item {  
        list-style: none;
        font-weight: 400;
        font-size: 15px;
        line-height: 1;
        padding-bottom: 15px;
    }

    &__link {
        padding-bottom: 5px;
    }
}
