@use "../../presets" as *;
@use "../../mixins" as *;


.contacts-box-sm {

    @include md {
        text-align: center;
    }

    &__title {
        font-weight: 600;
        font-size: 40px;
        line-height: 1.25;
        margin:0 0;

        @include xl {
            font-size: 30px;
        }
    }

    &__image {
        margin-top: 30px;
        display: block;

        @include xl {
            margin-top: 15px;
            max-width: 100%;
        }
        @include md {
            margin-left: auto;
            margin-right: auto 
        }   
    }

    &__description {
        font-weight: 400;
        font-size: 20px;
        line-height: 1.5;
        max-width: 300px;
        margin-top: 11px;

        @include xl {
            font-size: 17px;
        }
    }
    
    &__link {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.5;
    }
}