@use "../../presets" as *;
@use "../../mixins" as *;

.header-navbar {
    
    &__btn {
        display: none;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        
        @include xl-min {
            gap: $gap 50px;
        }
        @include xl {
            gap: 0 $gap;
            justify-content: center;
        }
    
        @include unlist;
    }

    &__item {

    }

    &__link {
        display: block;
        padding: 0.5em 0;
        color: $color-black;
    }
}