$font-family: "Graphik LCG", sans-serif;
$font-size-root: 16px;
$font-size-inherit:15px;

$ul: 1330px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 480px;
$xx: 420px;
$ux: 360px;

$gap: 20px;
$gap-sm: 20px * 0.5;
$gap-md: 20px * 0.75;
$gap-lg: 20px * 1.5;
$gap-xl: 20px * 2;

$container-small: 720px;